<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >
<head>
    <meta charset="utf-8">
    <title>Sender</title>

</head>
<body>
<section layout:fragment="content">

    <div class="container-fluid" id="wrapper">
                <section class="row ">


                        <!--start form-->
                        <div class="card col-md-4">
                            <div class="card-block">
                                <h3 class="card-title">Konfigurasi Notifikasi</h3>
                                <div class="dropdown card-title-btn-container">
                                    <a th:href="@{/notifikasikonfigurasi/list}" class="btn btn-sm btn-subtle" type="button" aria-haspopup="true" aria-expanded="false"><em class="fa fa-arrow-left"></em></a>
                                </div>
                                <h6 class="card-subtitle mb-2 text-muted">Subtitle</h6>
                                <form action="#" th:action="@{/notifikasikonfigurasi/form}" th:object="${notificationConfiguration}" method="post">
                                    <fieldset>

                                        <div class="form-group">
                                            <label class="col-12 control-label no-padding">Sender</label>

                                            <div class="col-12 no-padding">
                                                <select class="form-control" name="sender">
                                                    <option value=""></option>
                                                    <option value=""></option>

                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-12 control-label no-padding" >Nama Konfig</label>

                                            <div class="col-12 no-padding">
                                                <input id="configurationName" name="configurationName" type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-12 control-label no-padding" >Keterangan</label>

                                            <div class="col-12 no-padding">
                                                <textarea class="form-control" id="description" name="description" placeholder="Please enter your description here..." rows="5"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-12 control-label no-padding">Template SMS</label>

                                            <div class="col-12 no-padding">
                                                <select class="form-control" name="templateSms">
                                                    <option value=""></option>
                                                    <option value=""></option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-12 control-label no-padding">Template Email</label>

                                            <div class="col-12 no-padding">
                                                <select class="form-control" name="templateEmail">
                                                    <option value=""></option>
                                                    <option value=""></option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-12 widget-right no-padding">
                                                <button type="submit" class="btn btn-primary btn-md float-right">Submit</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    <!--end form-->

&nbsp;



                    <div class="dropdown card-title-btn-container">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#additem">
                            <em class="fa fa-plus"></em>
                        </button>
                    </div>
                        <div class="card col-md-7">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nama</th>
                                    <th>Keterangan</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td></td>
                                    <td> </td>
                                    <td>
                                        <a href="#" class="fa fa-trash"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>


                    <!-- Modal -->
                    <div class="modal fade" id="additem" tabindex="-1" role="dialog" aria-labelledby="additem" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModal3Label"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-12 control-label no-padding" >Nama</label>

                                        <div class="col-12 no-padding">
                                            <input id="tes1" name="" type="text" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-12 control-label no-padding" >Keterangan</label>

                                        <div class="col-12 no-padding">
                                            <textarea class="form-control" id="tes2" name="des" placeholder="Please enter your description here..." rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--EndModal-->



                </section>
    </div>

</section>



</body>
</html>