<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<title>Aplikasi Notifikasi</title>
</head>


<body>
<section layout:fragment="content">
			<div class="row">
				<div class="col-md-12 col-lg-8">
					<div class="jumbotron">
						<h1 class="mb-4">Hai, Pengguna!</h1>

						<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

						<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

						<p class="lead"><a class="btn btn-primary btn-lg mt-2" href="#" role="button">PELAJARI LEBIH LANJUT</a></p>
					</div>
				</div>

				<div class="col-md-12 col-lg-4">
					<div class="card mb-4">
						<div class="card-block">

							<div id="calendar"></div>

						</div>
					</div>
				</div>
			</div>
</section>

</body>
</html>