<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Notifikasi Email Registrasi</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" bgcolor="grey" style="background-color:grey;"><br>
    <br>
    <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <br>
        
      </tr>
      <tr>
        <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;"><table width="100%" border="0" cellspacing="0" cellpadding="0">	
	<tr>
	<td align="left" valign="top" bgcolor="#286361"
            style="background-color:#286361; font-family:Arial,
             Helvetica, sans-serif; padding:10px;"><div style="font-size:36px; color:#ffffff;"><b>STEI TAZKIA</b></div>
          </td>
	</tr>	
          <tr>
            <td align="center" valign="middle" style="padding:10px; color:#564319; font-size:42px; font-family:Georgia, 'Times New Roman', Times, serif;">Penerimaan Mahasiswa/i Baru</td>
          </tr>
        </table>
          <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td width="40%" align="center" valign="middle" style="padding:10px;"><img src="https://tazkia.ac.id/images/logo-tazkia-2.png" width="168" height="168" style="display:block"></td>
              <td align="left" valign="middle" style="color:#525252; font-family:Arial, Helvetica, sans-serif; padding:10px;">
              <div style="font-size:24px;">Pendaftaran Anda Berhasil</div>
<!--Nama-->
                <div style="font-size:17px;">
                  <label>Nama:</label>
                </div>
              <div style="font-size:20px;">
                <label><b>{{nama}}</b></label>
              </div>
<!--///-->
<!--ID-->
                <div style="font-size:17px;">
                  <label>No Pendaftaran:</label>
                </div>
                <div style="font-size:20px;">
                  <label><b>{{nomor}}</b></label>
                </div>
<!--///-->
              </td>

            </tr>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
		<hr>
            </tr>
          </table>
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
            <tr>
<!--Biaya Pendaftaran-->
              <td align="left" valign="middle" style="padding:15px; font-family:Arial, Helvetica, sans-serif;">
              <div style="font-size:20px; color:#564319;">Mohon melunasi biaya pendaftaran sebesar </div>
              <div style="font-size:21px; color:#525252;">
                <b>Rp. {{biaya}}-</b>
              </div>
                <br>
               <div style="font-size:20px; color:#564319;">dengan cara transfer ke rekening</div>
                <div style="font-size:21px; color:#525252;">
                  <b>{{rekening}}</b>
                </div>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:10px;">
            <tr>
              <td align="left" valign="middle" style="padding:15px; background-color:#286361; font-family:Arial, Helvetica, sans-serif;">
                <div style="font-size:20px; color:#ffe77b;">
                  Informasi :
                </div>
                <div style="font-size:13px; color:#ffe77b;">
                  Setelah melakukan pembayaran, anda akan mendapatkan Email berisi User Name dan Password untuk pengisian Formulir PMB

                  Setelah melakukan proses pembayaran, silahkan hubungi kontak di bawah untuk proses selanjutnya.
                  <br>
                  <div style="font-size:15px; color:white;">
		<ul>
                    <li>{{namaKontak1}} : {{nomorKontak1}} </li>
                    <li>{{namaKontak2}} : {{nomorKontak2}} </li>
                    <li>{{namaKontak1}} : {{nomorKontak3}}</li>
		</ul>
                  </div>
                  <br>
                </div>
            </tr>
          </table>
          <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50%" align="left" valign="middle" style="padding:10px;"><table width="75%" border="0" cellspacing="0" cellpadding="4">
                <tr>
                  <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#000000;"><b></b></td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000000;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
              <td width="50%" align="left" valign="middle" style="color:#564319; font-size:11px; font-family:Arial, Helvetica, sans-serif; padding:10px;"><b>Hours:</b> Mon-Fri 8:00-4:00, Sat. 8:00-12:00, Sun. Closed <br>
                <b>Website Kami:</b> <a href="https://tazkia.ac.id/" style="color:#564319; text-decoration:none;">https://tazkia.ac.id/</a><br>
                <br>
                <b>PMB STEI Tazkia</b><br>
        <a href="https://registrasi.tazkia.ac.id/" target="_blank"  style="color:#564319; text-decoration:none;">https://registrasi.tazkia.ac.id/</a></td>
            </tr>
	    
          </table>
        </td>
      </tr>
<tr>
			<td align="left" valign="top" bgcolor="#286361"
            style="background-color:#286361; font-family:Arial,
             Helvetica, sans-serif; padding:10px;"><div style="font-size:10px; color:#ffffff;"><b></b></div>
          </td>
	    </tr>
      </table>

    <br>
    <br></td>
  </tr>
</table>
</body>
</html>
