<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Yayasan Tazkia Cendekia - Finance Dept</title>
  <div style="text-align:center"><table style="text-align:left;max-width:640px;color:#737373;border-collapse:collapse;border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4;vertical-align:top">

    <tbody>

    <tr>



      <td style="background-color:#f8f8f8;padding-left:18px;border-bottom:1px solid #e4e4e4;border-top:1px solid #e4e4e4"></td>

      <td style="padding:13px 10px 8px 0px;background-color:#f8f8f8;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4" valign="middle">

        <table style="width:100%;border-collapse:collapse;border:0;vertical-align:middle">

          <tbody>
          <tr>

            <td style="text-align:left">

              <img src="https://tazkia.ac.id/images/logo-tazkia-2.png " width="100" height="100" alt="robot picture" class="CToWUd" border="0">
            </td>
            <td class="pull-left mobile-header-padding-left" style="vertical-align: middle;" width="350">

            </td>
            <td class="pull-right mobile-header-padding-right" style="color: #4d4d4d;">
              <a href="https://twitter.com/steitazkia/"><img width="44" height="47" src="http://s3.amazonaws.com/swu-filepicker/k8D8A7SLRuetZspHxsJk_social_08.gif"/></a>
              <a href="https://www.facebook.com/humas.steitazkia"><img width="38" height="47" src="http://s3.amazonaws.com/swu-filepicker/LMPMj7JSRoCWypAvzaN3_social_09.gif"/></a>
            </td>

          </tr>

          </tbody></table>

      </td>

      <td style="background-color:#f8f8f8;padding-right:18px;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4"></td>

    </tr>

    <tr>

      <td style="padding-left:18px"></td>

      <td style="padding:18px 0px 12px 0px;vertical-align:top;border-bottom:1px solid #e4e4e4">
        <div><span style="padding:0px 6px 0px 0px;">{{tanggalTagihan}}<br><br></span>

          <div><span style="padding:0px 6px 0px 0px">السَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ<br><br>Kepada Yth. {{nama}},<br><i>Dear {{nama}},</i></span>

            <div>

              <div style="padding:12px 0px 12px 0px">

                <div style="color:#737373;padding:2px 0px 0px 0px;font-size:14px;line-height:18px">
                  Berikut kami sampaikan tagihan Anda pada <b>STEI Tazkia</b> dengan rincian sebagai berikut:
                </div>

              </div>

              <table style="width:100%;color:#737373;vertical-align:top;font-size:14px">

                <tbody>

                <tr>

                  <td style="padding-right:6px;padding-bottom:6px;vertical-align:top" width="200">Rekening Bank</td>

                  <td style="text-align:center;vertical-align:top" width="12">:</td>

                  <td style="list-style-type: none;padding-left: 0;padding-top: 0;padding-right:6px;padding-bottom:6px;vertical-align:top"><b>{{{rekeningFull}}}</b></td>

                </tr>

                <tr>

                  <td style="padding-right:6px;padding-bottom:6px;vertical-align:top" width="200">Nama</td>

                  <td style="text-align:center;vertical-align:top" width="12">:</td>

                  <td style="padding-right:6px;padding-bottom:6px;vertical-align:top">{{nama}}</td>

                </tr>

                <tr>

                  <td style="padding-right:6px;padding-bottom:6px;vertical-align:top" width="200">Email</td>

                  <td style="text-align:center;vertical-align:top" width="12">:</td>

                  <td style="padding-right:6px;padding-bottom:6px;vertical-align:top">
                    <a href="{{email}}" target="_blank">{{email}}</a>
                  </td>

                </tr>

                <tr>

                  <td style="padding-right:6px;padding-bottom:6px;vertical-align:top" width="200">Nomor Telepon</td>

                  <td style="text-align:center;vertical-align:top" width="12">:</td>

                  <td style="padding-right:6px;padding-bottom:6px;vertical-align:top">{{noHp}}</td>

                </tr>

                <tr>

                  <td style="padding-right:6px;padding-bottom:6px;vertical-align:top" width="200">Total Tagihan </td>

                  <td style="text-align:center;vertical-align:top" width="12">:</td>

                  <td style="padding-right:6px;padding-bottom:6px;vertical-align:top">Rp.{{jumlah}}</td>

                </tr>

                <tr>

                  <td style="padding-right:6px;padding-bottom:6px;vertical-align:top" width="200">Keterangan</td>

                  <td style="text-align:center;vertical-align:top" width="12">:</td>

                  <td style="padding-right:6px;padding-bottom:6px;vertical-align:top">{{keterangan}}</td>

                </tr>

                <tr>

                </tbody>

              </table>

              <div style="padding:8px 0px 2px 0px">

                <div style="color:#737373;padding:2px 0px 0px 0px;font-size:14px;line-height:18px">
                  Silakan lakukan pembayaran ke rekening di atas untuk menyelesaikan transaksi Anda.
                </div>

              </div>

            </div>

          </div>

      </td>

      <td style="padding-right:18px"></td>

    </tr>

    <tr>

      <td style="padding-left:18px"></td>


      <td align="center"><br></td>

      <td style="padding-right:18px"></td>

    </tr>

    <tr>

      <td colspan="3" style="background-color:#005c69;font-size:12px;color:#e4e4e4;vertical-align:middle;text-align:center;padding:10px 10px 10px 10px;line-height:15px;border:1px solid #e4e4e4" valign="middle">

        Copyright 2017-2022 STEI TAZKIA, All rights reserved.<br>
        Mohon tidak membalas email ini. Untuk pertanyaan atau saran, silahkan hubungi:<br>
        {{{contactinfoFull}}}
      </td>

    </tr>

    </tbody>

  </table><div class="yj6qo"></div><div class="adL">


  </div></div>
